body {
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px black;
    /* background: url('./GoldshireInn.webp') no-repeat center fixed; */
    /* background-size can be enforced with !important */
    /* background-size: cover !important; */
    /* background-repeat: no-repeat; */
}

#tabNav {
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: rgba(240, 248, 255, 0.151);
}
#homeTab:hover, #menuTab:hover, #contactTab:hover {
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}

#homePage {
    margin: auto;
    width: 85%;
}

#homePage>h1, #homePage>p {
    text-align: center;
    line-height: 2rem;
    padding-top: 2rem;
}

#menuPage {
    color: white;
    font-weight: bold;
}