body {
    color: white;
    font-weight: bold;
    background: url('./GoldSInn.jpg') no-repeat center fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* width: vw;
    height: vh; */
}

#homePage {
    color: white;
    /* background: url('./GoldshireInn.webp') no-repeat center fixed;
    background-size: cover; */

    margin: auto;
    width: 85%;
    /* height: 500px; */
}

#homePage>h1, #homePage>p {
    text-align: center;
    line-height: 2rem;
    padding-top: 2rem;
}